$bg-color = linear-gradient(90deg, rgba(72,108,235,1) 0%, rgba(58,58,200,0.87) 60%, rgba(10,203,242,0.92) 100%)
$text-color = #fff

.banner-wrapper
  display flex
  align-items center
  height 0.36rem
  width 100%
  overflow hidden
  padding-left 0.1rem
  background-image $bg-color

  .banner-title
    width 100%
    font-size .14rem
    font-weight bold
    padding-left 0.1rem
    letter-spacing: 0.01rem
    color $text-color
    border-left 0.05rem solid  #fff
