@keyframes blob-bounce {
  0% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }

  25% {
    transform: translate(-100%, -100%) translate3d(100%, 0, 0);
  }

  50% {
    transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
  }

  75% {
    transform: translate(-100%, -100%) translate3d(0, 100%, 0);
  }

  100% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }
}

.card
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: .14rem;
  z-index: 3;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .bg
    position absolute
    top 0.05rem
    left 0.05rem
    width calc(100% - 0.1rem)
    height calc(100% - 0.1rem)
    z-index 2
    background rgba(255, 255, 255, .985)
    backdrop-filter blur(0.25rem)
    border-radius 0.1rem
    overflow hidden
    outline 0.02rem solid white

    .inner-content
      position relative
      z-index 4
      height 100%
      width 100%

  .blob
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 80%;
    border-radius: 50%;
    background-color: #ff0000;
    opacity: 1;
    filter: blur(0.12rem);
    animation: blob-bounce 5s infinite ease;



