.table-wrapper
  height 100%
  width 100%

  .table-header
    display flex
    align-items center
    justify-content space-evenly
    height 0.28rem
    width 100%
    margin-bottom 0.02rem
    background radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%)
    box-shadow inset 0 0 .12rem rgba(151,200,255,.44)
    border-radius 0.05rem

    .header-title-item
      font-size .14rem
      font-weight bold
      text-align center

  .table-body
    height calc(100% - 0.3rem)
    width 100%
    background-color: #eee